version: '2'
networks:
  app-network:
    driver: bridge

services:
  redis:
    image: 'redis:latest'
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    expose:
      - "6379"
    networks:
      - app-network
  flask_app:
    image: 'flask_app:2.3'
    ports:
      - "9000:8080"
    networks:
      - app-network
